{{>message}}
<div>
<h1>register page</h1>
<p>Welcome {{spotifyUsername}}</p>
</div>

<div class="container-sm">
<form action="/register" method="post" >
    <input type="hidden" name="spotifyUsername" value="{{spotifyUsername}}">

    <h1 class="mt-5">Create Password</h1>
    <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" id="password" >
  </div>
  <button type="submit" class="btn btn-primary mt-3">Submit</button>
  <br>
 
</form>
 <p>Already have an account? <a href="/login">Login</a></p>
 </div> 